body{
font-family:Arial;
background:linear-gradient(135deg,#141e30,#243b55);
color:white;
text-align:center;
margin:0;
}

.app-name{
font-size:34px;
margin-top:30px;
font-weight:bold;
}

.subtitle{
font-size:16px;
margin-bottom:30px;
}

.card{
background:white;
color:black;
width:80%;
margin:10px auto;
padding:15px;
border-radius:12px;
font-size:18px;
cursor:pointer;
}

input{
width:80%;
padding:12px;
margin:10px;
border-radius:25px;
border:none;
font-size:16px;
}

button{
background:linear-gradient(90deg,#2196f3,#21cbf3);
color:white;
border:none;
padding:12px 25px;
border-radius:25px;
font-size:18px;
}
