body{

text-align:center;

font-family:Arial;

background:#f2f2f2;

}

.title{

color:gold;

font-size:32px;

margin-top:40px;

}

button{

display:block;

margin:15px auto;

padding:15px;

font-size:18px;

width:220px;

}
